<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile Page</title>
</head>
<body>
    <%- include('common/header') %>
    <h1>Welcome <%= user.name%></h1>
</body>
</html>

<!-- 
Notice we used '-' in server script in include
nothing : means we will type some JS script
= : means we will be using value of a variable
- : means we will be using data of a file {used wile including files}
 -->